:root {
    --wall: blue;
    --freeSpace: white;
    --size: 350px;
    --playerSize: 350px;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.wall, .space, .end, img {
    min-width: var(--size);
    max-width: var(--size);
    width: var(--size);
    height: var(--size);
    padding: 0;
    transition: all 0.2s ease-in-out;
}

.wall { background-color: var(--wall); }
.space { background-color: var(--freeSpace); }
.end { background-color: black; }